# Python cache files
__pycache__

# Pyrogram session files
*.session

# Compiled Python files
*.pyc

# Environment variables file
*.env

# Virtual environment directory
venv/

# Downloaded files directory
downloads/

# Gitignore itself (if not already present)
.gitignore
